/*
*	Ober - Personal Portfolio Template (HTML)
*	Version: 1.0
*	Author: bslthemes
*	Author URL: http://themeforest.net/user/bslthemes
*	Copyright © Ober by bslthemes. All Rights Reserved.
*/

/* SETTINGS VARIABLES FOR DARK UI
	- Background Colors
	- Colors
*/

/* Background Colors */
$default_bg: #222a36;
$second_bg: #181e27;

/* Colors */
$default_color: #fff;
$white_color: #FFF;
$dark_color: #000;
$active_color: #CF000F;
$error_color: red;

/* SETTINGS VARIABLES FOR LIGHT UI
	- Background Colors
	- Colors
*/

/* Background Colors */
$light_default_bg: #fff;
$light_second_bg: #EFEFF0;

/* Colors */
$light_dark_color: #000;
$light_default_color: #313131;
$light_dark_grey_first: #616161;
$light_dark_grey_second: #919191;
$light_light_grey_first: #FCFCFC;
$light_light_grey_second: #F5F5F7;
$light_white_color: #FFF;
$light_active_color: #CF000F;
$light_error_color: red;

/* Radius */
$border_radius_off: 0rem !important;

/* SETTINGS VARIABLES FOR TYPOGRAPHY
	- Fonts
	- Fonts Size
	- Icons Size
	- Line Height
	- Mixins
*/

/* Fonts */

$default_font: 'Poppins';
$extra_font: 'Barlow Condensed';


/* Fonts Size */

$default_size: 1rem; //16px

$section_h1_size: 6rem; //96px
$section_h2_size: 4rem; //64px
$section_sub_size: 2rem; //32px
$section_name_size: 1.125rem; //18px

$btn_size: 1rem; //16px

$menu_size: 7.5rem; //120px
$menu_sub_size: 2.5rem; //40px

$title_h1_size: 2.5rem; //40px
$title_h3_size: 2rem; //32px
$title_h4_size: 1.5rem; //24px
$title_h5_size: 1.125rem; //18px
$title_h6_size: 1rem; //16px

/* Fonts Weight */
$font_weight: 400;

/* Line Height */
$line_height: 1.5;

/*Mixins*/
@mixin border-radius($radius) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;
}

@mixin box-shadow($param) {
	box-shadow: $param;
	-moz-box-shadow: $param;
	-webkit-box-shadow: $param;
	-khtml-box-shadow: $param;
}

@mixin transition($param) {
	transition: $param;
	-moz-transition: $param;
	-webkit-transition: $param;
	-o-transition: $param;
}

@mixin transform($param) {
	transform: $param;
	-webkit-transform: $param;
	-moz-transform: $param;
	-o-transform: $param;
}
