{{ $action := .Site.Params.formspreeURL }}
{{ $social := .Site.Params.social }}
{{ with .Site.Data.home.contact }}
{{ if .enable }}
<section class="section section-red-bg section-parallax-2" id="contact-section">
  <div class="container">

    {{ "<!-- heading -->" | safeHTML }}
    <div class="m-titles">
      <h2 class="m-title m-title-white splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">{{ .title }}</h2>
      <div class="subtitle splitting-text-anim-2 scroll-animate" data-splitting="chars" data-animate="active">
        {{ .subtitle }}
      </div>
      
    </div>
  
    <div class="social-links">
          {{ range $social }}
          <a target="_blank" rel="nofollow" href="{{ .url }}" title="{{ .title }}">
            <i aria-hidden="true" class="{{ .icon }}"></i>
          </a>
          {{ end }}
        </div>
    </div>

  </div>
</section>
{{ end }}
{{ end }}
