{{ $social := .Site.Params.social }}
{{ with .Site.Data.home.hero }}
{{ if .enable }}
<section class="section section-started">
  <div class="container">

    {{ "<!-- hero -->" | safeHTML }}
    <div class="hero-started">

      <!-- Image & SVG -->
      <div class="slide scrolla-element-anim-1 scroll-animate" data-animate="active">
        <img src="{{ .image | absURL }}" alt="{{ .image_alt }}" />
        <!-- <span class="back-profile-img">
          <img src="{{.background_image | absURL }}" alt="{{ .background_image_alt }}" />
        </span> -->
        <!-- CHIEDERE IL MOTIVO -->
      </div>

      <!-- Anagraphy -->
      <div class="content">
        <div class="titles">
          <div class="subtitle splitting-text-anim-2 scroll-animate" data-splitting="chars" data-animate="active">
            {{ .subtitle }}
          </div>
          <h2 class="title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
            {{ .title | safeHTML }}
          </h2>
        </div>
        
        <div class="hero-buttons">
          {{ .text | safeHTML }}
          <a href="{{ .buttonPrimary.link }}" class="btn scrolla-element-anim-1 scroll-animate" data-animate="active">{{
            .buttonPrimary.text }}</a>
            <div class="download-links scrolla-element-anim-1 scroll-animate" data-animate="active">
              {{ .text | safeHTML }}
              <a class="download-label" href="{{ .buttonSecondary.link }}">{{ .buttonSecondary.text }}</a>
            </div> 
            
        </div>
        
       
        <!-- <a ref id="CV" tabindex="0" target="_blank" href="{{ .button.link }}" class="btn-outline effect">{{
            .buttonSecondary.text }}</a>   -->

        <!-- <div class="info-list">
          <ul>
            {{ range .info }}
            <li class="scrolla-element-anim-1 scroll-animate" data-animate="active">
              {{ .label }} <strong>{{ .value }}</strong>
            </li>
            {{ end }}
          </ul>
        </div> -->

      </div>

    </div>

  </div>
</section>
{{ end }}
{{ end }}
